In [1]:
#Q1.(i)

My_string = "Hello"

In [ ]:
#Q1.(ii)

l = [2,3,4,5,6,"sarthak", "Python",3.09,True]

In [ ]:
#Q1.(iii)

b = 30.98

In [ ]:
#Q1.(iv)

T = (20,'jessa', 32.75,[30,78,90])

#Q2

(i) string
(ii) string
(iii) list
(iv) int

In [1]:
#Q3. (i)

# / is used for division 

a=6
b=3
print(a/b)

2.0

In [3]:
#Q3 (ii)

# % it is used to find the remainder of two numbers

3%2

1

In [4]:
#Q3 (iii)

# // is rounds the result to nearest whole number

3//5

0

In [5]:
# Q3 (iv)

# ** is used to calculate powers of number

2**3

8

In [6]:
My_list = [ 2,3,4,5,6,"Hello", "Good",30.89,True,False]
for i in My_list :
    print(type(i))
    print(i)

<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'str'>
Hello
<class 'str'>
Good
<class 'float'>
30.89
<class 'bool'>
True
<class 'bool'>
False

In [7]:
#Q5


A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))
count = 0

while A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print(f"{A} is divisible by {B} a total of {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

Enter the value of A:  10
Enter the value of B:  5

2 is divisible by 5 a total of 1 times.

In [8]:
# Q6
num_list = [7, 12, 9, 4, 18, 21, 13, 15, 28, 30, 5, 8, 11, 27, 36, 42, 19, 22, 25, 33, 16, 20, 39, 45, 48]


for num in num_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

7 is not divisible by 3.
12 is divisible by 3.
9 is divisible by 3.
4 is not divisible by 3.
18 is divisible by 3.
21 is divisible by 3.
13 is not divisible by 3.
15 is divisible by 3.
28 is not divisible by 3.
30 is divisible by 3.
5 is not divisible by 3.
8 is not divisible by 3.
11 is not divisible by 3.
27 is divisible by 3.
36 is divisible by 3.
42 is divisible by 3.
19 is not divisible by 3.
22 is not divisible by 3.
25 is not divisible by 3.
33 is divisible by 3.
16 is not divisible by 3.
20 is not divisible by 3.
39 is divisible by 3.
45 is divisible by 3.
48 is divisible by 3.

# Q7

Immutable data types are those whose values cannot be changed after they are created. 
When you modify an immutable object, you are actually creating a new object. 
This property ensures that the original value remains unchanged.

Mutable data types are those whose values can be changed after they are created. This means you can modify their contents without creating a new object.